.covered{
    height: 100% !important;
    min-height: 662px;
    background-image: url(../imgs/cover-background.jpeg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover !important;
}

figure{
     padding-top: 40px;
    padding-bottom: 40px;
}

figure > img{
    border: 2px solid #D3D3D3;
}

figure figcaption{
    text-align: center;
}

figcaption{
    
    padding-top: 20px;
    color: #000;
    font-size: 25px;
}

figure p {
    text-align: center;
    font-weight: 300;
}

.parallax-effect{
    height: 100% !important;
    min-height: 662px;
    background-image: url(../imgs/amsterdam.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover !important;
}

.greyfooter{
    background-color: #77A5DB;
    color: #000;
    height: 50px;
    margin-top: 20px;
}

.greyfooter p{
    padding-top: 10px;
}
hr{
    width: 71px;
    height: 2px;
    background: #77A5DB;
    position: relative;
    border-top: 1px solid #77A5DB;
}

.button-style{
    background: #FBE473;
    color: 020202;
    font-weight: bolder;
}


.header-top{
    background-color: #77A5DB;
    border:0px;
    font-weight: bolder;
}

.header-top>li>a:hover{


